@{
    ViewBag.Title = "Home Page";
}

<br />
<p class="text text-danger">@TempData["Message"]</p>

<ul>
    @{
        foreach (string game in (string[])TempData["Games"])
        {
            <li>@game</li>
        }
    }
</ul>